In [3]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [4]:
def create_server_connection(host_name,user_name,user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password
        )
        print("MySql connection successfull!")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [5]:
pw = "<Your MySql Password>"
connection = create_server_connection("localhost", "root", pw)

MySql connection successfull!

In [10]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")

In [11]:
create_database_query = "CREATE DATABASE retail"
create_database(connection,create_database_query)

Database created successfully

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [7]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [8]:

db = "retail"
connection = create_db_connection("localhost", "root", pw, db) # Connect to the Database

MySQL Database connection successful

In [20]:
create_customer_table = """
CREATE TABLE customer (
  customer_id INT PRIMARY KEY,
  customer_name VARCHAR(40) NOT NULL,
  address VARCHAR(40) NOT NULL
  );
 """

create_product_table = """
CREATE TABLE product (
  product_id INT PRIMARY KEY,
  product_name VARCHAR(40) NOT NULL,
  price FLOAT NOT NULL
  );
 """

execute_query(connection, create_customer_table) # Execute our defined query
execute_query(connection, create_product_table) # Execute our defined query

Query successful
Query successful

In [9]:
pop_customer = """
    INSERT INTO customer VALUES
    (1,"Muthu","Coimbatore"),
    (2,"Vignesh","Chennai"),
    (3,"Gladwin","Thrissur");
"""

pop_product = """
    INSERT INTO product VALUES
    (101,"TV",5000.25),
    (102,"Watch",1000.99),
    (103,"Fan",400);
"""

execute_query(connection,pop_customer)
execute_query(connection,pop_product)

Query successful
Query successful

In [11]:
update_customer = """
    UPDATE customer
    SET address = "Tiruppur"
    WHERE customer_id = 1;
"""

execute_query(connection,update_customer)

Query successful

In [12]:
delete_customer = """
    DELETE FROM customer
    WHERE customer_id = 3;
"""

execute_query(connection,delete_customer)

Query successful